<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Static Website</title>
    <link rel="stylesheet" type="text/css" href="/assets/css/layout.css">
    <script src="/assets/js/head.js"></script>
</head>
<body>